.product__card__col{
	/* margin: 1rem 0rem; */
	margin-bottom:2rem;
	padding: 0px 20px;
	/* display: flex;
  	flex-wrap: wrap;
	column-gap: 1.5rem;  */
}

.product__item {
	/* border-radius: 10px; */
	position: relative;
	overflow: hidden;
    margin: .4rem 0rem;
}
.product__item img{
    width: 100%;
    /* border-radius: 10px; */
    display: block;
    transition: transform 0.5s;
}
.overlay {
	width: 100%;
	/* height: 0; */
	/* background: linear-gradient(transparent,#1c1c1c49 58%); */
	/* border-radius: 10px; */

	/* -webkit-transform: translateY(125%);
	-ms-transform: translateY(125%);
	transform: translateY(0%); */
	position: absolute;
	/* left: 0;
	bottom: 0; */
	overflow: hidden;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: column;
	/* padding: 0 40px; */
	text-align: center;
	font-size: 14px;

	/* -webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out; */
    /* height: 0; */
   
    right: 0;
    top: 0;
    align-items: flex-end;
    /* margin: 10px; */
    /* transition: height 0.5s; */

}
/* .overlay h3 {
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 80%;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
} */

.button__container{
	/* padding: 5px 0px; */
	/* background-color: #fff; */
	background-color: rgba(0, 0, 0, .5);
	border-radius: 50%;
	margin: 20px;
}

.overlay button {
	width: 30px;
	height: 30px;
	/* margin-top: 10px; */
	/* color: #262626; */
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	background: none;
	text-align: center;
	/* padding: 10px 15px; */
	padding-top:2px;
	
}

/* .test__button-1{
	border-right: 1px solid #999;
}

.test__button-2{
	border-right: 1px solid #999;
} */

/* .popular__tshirt__name{
	padding: 0rem .5rem;
} */

.product__name{
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}
.product__type{
	font-size: 15px;
}

.overlay button:hover i{
    transform: scale(1.2);
}
.overlay button:hover .icon{
    transform: scale(1.2);
}

.product__item:hover img{
    transform: scale(1.1);
}

/* .product__item:hover .overlay{
    height: 100%;
} */
/* transform: translateY(0%); */

.tshirt_details_div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top:20px;
}

.price{
	font-weight: 500;
	padding: 2px 7px;
	color: #1c1a1a;
	border: 1px solid rgb(129, 129, 129);
	box-shadow:  1px 1px 2px #5a5a5a2f,-1px -1px 2px #ffffff;
	/* border-radius: 5px; */
	/* margin-left: auto; */
	/* background: linear-gradient(150deg, #ffffff 40%, #00000021 60%); */
	/* transform: skew(-15deg); */

}


.price__icon{
	font-family: sans-serif;
	padding-right: 3px;
}
  
  .tag {
	font-size: .9rem;
	background: hsl(0, 2%, 10%);
	/* border-radius: 3px 0 0 3px; */
	color: #ffffff;
	display: inline-block;
	height: 25px;
	line-height: 26px;
	padding: 0 20px 0 20px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	overflow: hidden;
  }
  

  .tag::before{
	
	background: #fff;
	border-bottom: 13px solid #1c1b1b;
	border-right: 10px solid #1c1b1b;
	border-top: 28px solid transparent;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
  }
  .tag::after {
	
	background: #fff;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #1c1b1b;
	border-top: 28px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
  }
  
  /* .tag:hover {
	background-color: crimson;
	color: white;
  }
  
  .tag:hover::after {
	 border-left-color: crimson; 
  } */
/* .product__type{

} */

@media only screen and (max-width:1200px){
	/* .product__card__col{
		padding: 0rem 1rem;
	} */

}

/* @media only screen and (max-width:992px){
	.popular__tshirt__name{
		padding: 0rem ;
	}

} */

@media screen and (max-width: 992px) {
	/* .overlay button {
	width: 42px;
	height: 37px;
  } */
  .button__container{
	
	margin: 10px;
}
  }

@media only screen and (max-width:768px){

	.product__card__col{
		margin-bottom: 1rem;
		
	}
	/* .overlay button {
		width: 50px;
    	height: 45px;
	} */
	.button__container{
		margin: 10px;
	}
	
  }

